img {
    height: 500px;
    width: auto;
}

* {
    text-align: center;
    background-color: rgb(225, 225, 225);
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul, ol {
    list-style-position: inside;
}

.landing {
    display: flex;
    list-style-type: none;
}
a {
    padding: 10px;
}

button {
    border: 2px solid n rgb(255, 0, 0);
    margin: 5px;
    box-sizing:border-box;
    height:42px;
}
